{% extends 'base.html' %}

{% block title %}{{ operation_name }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">{{ operation_name }}</h1>

    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-header">
            Форма поста
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {% for field in form %}
                <div class="mb-3">
                  <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <div class="text-danger">
                      {{ field.errors }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-dark">{{ submit_button_text }}</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Предпросмотр
          </div>
          <div class="card-body">
            <div id="preview" style="max-height: 600px; overflow-y: auto;">
              <!-- Здесь будет отображаться предпросмотр -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %}
  <script>
    let timeout = null;
    
    // Функция для отправки запроса на предпросмотр
    async function sendPreviewRequest(text) {
        const response = await fetch('{% url "preview_post" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({text: text})
        });
        const data = await response.json();
        // Обновление содержимого предпросмотра
        document.getElementById('preview').innerHTML = data.html;
        // Подсветка синтаксиса кода
        hljs.highlightAll();
    }
    
    // Обработчик события ввода текста
    document.getElementById('id_text').addEventListener('input', function() {
        clearTimeout(timeout);
        // Отложенный запрос на предпросмотр для оптимизации производительности
        timeout = setTimeout(() => sendPreviewRequest(this.value), 500);
    });
  </script>
  {% endblock %}
{% endblock %}